a {
    text-decoration-skip: ink;
}

.btn {
    padding: 0.375rem 0.9rem;
    border-radius: 0.4rem;
}

.btn-outline-red {
    color: #343a40;
    background-color: transparent;
    background-image: none;
    border-color: #343a40;
}

.btn-outline-red:hover, .btn-outline-red:focus {
    color: #fff;
    background-color: #cc0000;
    border-color: #cc0000;
}

.btn-outline-red_v2 {
    color: #cc0000;
    background-color: transparent;
    background-image: none;
    border-color: #cc0000;
    font-weight: 600;
    padding: 0.375rem 1.3rem;
}

.btn-outline-red_v2:hover, .btn-outline-red_v2:focus {
    color: #fff;
    background-color: #cc0000;
    border-color: #cc0000;
}

.btn-outline-white--black {
    color: white;
    border: 1px solid white;
    transition: all 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-outline-white--black:hover, .btn-outline-white--black:focus {
    background: black;
    color: white;
    border-color: black;
    transition: all 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-outline-white--red {
    color: white;
    border-color: white;
}

.btn-outline-white--red:hover, .btn-outline-white--red:focus {
    color: #fff;
    background-color: #cc0000;
    border-color: #cc0000;
}

.btn-primary--gradient {
    border: none;
    background: linear-gradient(45deg, #e00e00 0%, #ff7979 50%, #b7332a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d3352a', endColorstr='#ff8775', GradientType=0);
    background-position: 100% 0;
    background-size: 200% 200%;
    box-shadow: 0 16px 32px 0 #ec362c52;
    transition: .5s;
}

.btn-primary--gradient:hover, .btn-primary--gradient:focus {
    border:none;
    box-shadow: 0 0 0 0 rgba(0, 40, 120, 0);
    background-position: 0 0;
}

