.font-oswald {
    font-family: 'Oswald', sans-serif;
}
p.font-oswald{
    font-weight: 300;
}
/*.font-oswald {*/
    /*font-family: 'TypoPRO Oswald', sans-serif;*/
/*}*/

.font-pt-sans {
    font-family: 'PT Sans', sans-serif;
}

@font-face {
    font-family: 'PT Rouble Sans';
    src: url('/fonts/PTRoubleSans.eot');
    src: url('/fonts/PTRoubleSans.eot?#iefix') format('embedded-opentype'),
    url('/fonts/PTRoubleSans.woff2') format('woff2'),
    url('/fonts/PTRoubleSans.woff') format('woff'),
    url('/fonts/PTRoubleSans.ttf') format('truetype'),
    url('/fonts/PTRoubleSans.svg#PTRoubleSans') format('svg');
    font-weight: normal;
    font-style: normal;
}
.rub{
    font-family: 'PT Rouble Sans';
}